@media(min-width:300px) {
    .xs-hidden {display: none;}
    .img-resp {width: 100%;}
    .voucher-model { display: inline;  position: absolute; bottom: 0;opacity: .25; width: 100%; padding-left: 15px; padding-right: 15px; float: left;}
    .voucher-text { display: inline; width: 100%; padding-left: 15px; padding-right: 15px; float: left; position: static;}
}
@media(min-width:768px) {
    .sm-hidden {display: none;}
    .voucher-model { position: relative; bottom: 0; left: 0; opacity: 1;width: 60%;}
    .voucher-text { width: 40%; }
}
@media(min-width:1024px) {
    .md-hidden {display: none;}
    .voucher-model { position: inherit; bottom: 0; left: 0; opacity: 1;width: 50%;}
    .voucher-text { width: 50%; }
}
@media(min-width:1280px) {
    .lg-hidden {display: none;}
    .md-hidden {display: block;}
    .sm-hidden {display: block;}
    .xs-hidden {display: block;}
}