@media(min-width:200px) {
    .modal-body>h3 {
        color: #af8c01;
    }
    
    .btn-gradient {
        background: transparent;
        background: -moz-linear-gradient(45deg, rgba(78,87,216,1) 0%, rgba(40,48,168,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(78,87,216,1)), color-stop(100%, rgba(40,48,168,1)));
        background: -webkit-linear-gradient(45deg, rgba(78,87,216,1) 0%, rgba(40,48,168,1) 100%);
        background: -o-linear-gradient(45deg, rgba(78,87,216,1)) 0%, rgba(40,48,168,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(78,87,216,1) 0%, rgba(40,48,168,1) 100%);
        background: linear-gradient(45deg, rgba(78,87,216,1) 0%, rgba(40,48,168,1) 100%);
        border: 1px solid #2d37bb;
        transition: all .5s ease-in;
        color: azure;
    }
    
    .btn-gradient:hover {
        /*background: #3b4089;*/
        background: -moz-linear-gradient(45deg, rgba(35,42,88,1) 0%, rgba(40,48,168,1) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(35,42,88,1)), color-stop(100%, rgba(40,48,168,1)));
        background: -webkit-linear-gradient(45deg, rgba(35,42,88,1) 0%, rgba(40,48,168,1) 100%);
        background: -o-linear-gradient(45deg, rgba(35,42,88,1)) 0%, rgba(40,48,168,1) 100%);
        background: -ms-linear-gradient(45deg, rgba(35,42,88,1) 0%, rgba(40,48,168,1) 100%);
        background: linear-gradient(45deg, rgba(35,42,88,1) 0%, rgba(40,48,168,1) 100%);
        color: #fff;
    }
    
    .bg {
        background-image: url(../img/bg.jpg);
        background-position: center top;
        background-size: cover;
        position: static;
        width: 100%;
        height: 100%;
        padding-bottom: 50px;
    }
    .pd-top {
        padding-top: 0%;
    }
    .wrap {
        position: static;
        width: auto;
        height: auto;
        overflow-y: hidden;
    }
    
    .label-text {
        position: fixed;
    }
    .label-wrap {
        margin-top: 10px;
        z-index: 9;
    }
    .img-resp {
        width: 100%;
    }
    .img-label-resp {
        width: 100%;
        /*display: block;
        margin-left: auto;
        margin-right: auto;*/
    }
    .pro-btn {
        cursor: pointer;
        border-radius: 15px;
        transition: all .5s;
    }
    .pro-btn:hover {
        filter: brightness(1);
        border: 1px solid #ccaf4b;
    }
    
    .pro-check {
        position:absolute;
        display: none;
        top: 35%;
        left: 40%;
    }
    .pro-check.last {
        top: 30%;
    }
    .pro-check.show {
        display: block;
        
    }
    .pro-check>img {
        width: 30%;
    }
    
    .footer {
        position: static;
        padding-top: 50px;
        clear: both;
        width: 100%;
    }
    .footer>.copy {
        text-align: center;
        display: block;
    }
    .social {
        text-align: center;
        display: block;
        text-indent: 0;
    }
    
    .social>a {
        width: 50px;
        height: 50px;
        padding-top: 10px;
        border-radius: 50%;
        background: transparent;
        display: inline-block;
        border: 1px solid #af8c01;
        margin-left: 10px;
        text-align: center;
        color: #af8c01;
        transition: all .5s;
    }
    .social>a:hover {
        background: #af8c01;
        color: #fff;
    }
}
@media(min-width:768px) {
    .pd-top {
        padding-top: 0%;
    }
}
@media(min-width:1024px) {
    .pd-top {
        padding-top: 0%;
    }
}
@media(min-width:1200px) {
    .pd-top {
        padding-top: 15%;
    }
    .bg {
        background-image: url(../img/bg.jpg);
        background-position: center top;
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    .wrap {
        position: absolute;
        height: auto;
        width: auto;
        overflow-y: hidden;
        z-index: -1;
    }
    
    .label-text {
        position: fixed;
    }
    .label-wrap {
        margin-top: 10px;
    }
    .img-resp {
        width: 100%;
    }
    .img-label-resp {
        width: 90%;
        /*display: block;*/
        margin-left: 5%;
        margin-right: auto;
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        padding-top: 0px;
        width: 1200px;
    }
    .footer>.copy {
        text-align: center;
        display: block;
    }
    .footer>.social {
        text-align: center;
        display: block;
        float: right;
        margin-top: -20px;
    }
    .footer>.social>li {
        text-align: center;
        display: inline;
        float: left;
    }
    .social>li>a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        display: block;
    }
    .social>li>a:hover {
        background: #af8c01;
    }
    
    ::-webkit-scrollbar-track
            {
                background-color: transparent;;
            }

            ::-webkit-scrollbar
            {
                width: 10px;
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb
            {
                border-radius: 5px;
                background-color: #d2baf1;	
            }
}