<!DOCTYPE html>
<html lang="th">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>cubebio_en</title>
        
        <link rel="shortcut icon" href="http://en.cubebio.co.kr/img/favicon.ico">

        <link rel="stylesheet" href="../assets/css/base.css">
        <link rel="stylesheet" href="../assets/css/layout.css">
        <link rel="stylesheet" href="../assets/css/jquery-ui.css"> 
        <link rel="stylesheet" href="../assets/css/gnb.css"> 
        <link rel="stylesheet" href="../assets/css/img.css"> 
        <link rel="stylesheet" href="../assets/css/content-cer.css"> 
    
        <script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="../assets/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.slides.min.js"></script>
        <script type="text/javascript" src="../assets/js/client.js"></script>
        <script type="text/javascript" src="../assets/js/popup.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="../assets/js/jquery.bpopup.min.js"></script>
        <script type="text/javascript" src="../assets/js/gnb.js"></script>
        <script type="text/javascript" src="../assets/js/left-menu.js"></script>
        <script type="text/javascript" src="../assets/js/moving.js"></script>
        <script src="../assets/js/js.js"></script>

        <style>
        .sub_menu_text_hover a:hover {color:;}
        .sub_menu_text_hover a {color:;}
            body { font-family: 'Kanit', sans-serif !important; }
        </style>


        <script type="text/javascript" charset="UTF-8" src="../assets/js/common.js"></script>
        <script type="text/javascript" charset="UTF-8" src="../assets/js/util.js"></script>
        <script type="text/javascript" charset="UTF-8" src="../assets/js/stats.js"></script>

    </head>

    <body style="overflow-x:hidden; overflow-y:auto;font-family:nanumgothic !important;">
        
        <div>
            <div id="roll"></div>
            
            <div id="wrapper_main" style="background: url(http://admin.acus.kr) no-repeat;background-position: 50% 0%;; background-size: px  px">
                
                <div id="banner_v3" style="">
                    <div class="banner">
                        <ul class="banner_img">
                            <li>
                                <img src="../assets/img/greeting/1486974066323676.jpg" alt="배너이미지" class="banner01">
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div id="content">
                    <div class="content">
                        
                        <!-- /////////////////////////////  left menu /////////////////////////////////-->
                        <div id="leftBox" style="background-color:;min-height:500px;">
                            <h1 style="text-align:left; font-size: 36px;color: #5674b9;">ข้อมูลบริษัท
                                <!--<img src="../assets/img/greeting/1486974450661154.jpg" alt="banner_img" class="banner01" width="210px" height="100px">-->
                            </h1>
                            
                            <ul class="sidemenu">
                                <li id="leftLi">
                                    <a href="greeting.html"><h3>ทักทาย</h3></a>
                                </li>
                                <li id="leftLi">
                                    <a href="overview.html"><h3>ภาพรวมและประวัติ</h3></a>
                                </li>
                                <li id="leftLi">
                                    <a href="fields.html"><h3>สาขาธุรกิจ</h3></a>
                                </li>
                                <li id="leftLi">
                                    <a href="vision.html"><h3>วิสัยทัศน์</h3></a>
                                </li>
                                <li id="leftLi">
                                    <a href="center.html"><h3>แนะนำศูนย์วิจัย</h3></a>
                                </li>
                                <li id="leftLi">
                                    <a href="certificate.html"><h3>ใบรับรองและสิทธิบัตร</h3></a>
                                </li>
                                <li id="leftLi">
                                    <a href="map.html"><h3>ที่ตั้งบริษัท</h3></a>
                                </li>
                            </ul>
                            <div style="clear:both; margin-top:70px;"></div>
                            <p></p>
                        </div>
                        
                        
                        
						<!-- /////////////////////////////  left menu top /////////////////////////////////-->
                        <div class="right_content" style="">
                            <div class="nav">
                                <p>	
                                    <img src="../assets/img/greeting/icon_home.png"> หน้าหลัก &gt; เกี่ยวกับเรา &gt; ใบรับรองและสิทธิบัตร			
                                </p>
                            </div>
                            
                            <div id="grid_area" style="height:2000px; ">
                                <div class="dragEle ui-droppable boxShadow" style="line-height: 40px; text-align: center; font-size: 11px; float: left; z-index: 99999; position: absolute; margin-left: 0px; margin-top: 9px; width: 970px; height: 1000px;" condition="ok" fix_pos="0">
                                    <div class="dragEleDiv" style="z-index: 999999;">
                                        <div class="makeContent0" style="z-index: 1;">
                                            <div id="con">
                                                <p class="tit">ใบรับรองและสิทธิบัตร</p>

                                                <div class="h1">
                                                    เชิญตรวจสอบใบรับรองต่างๆและสิทธิบัตรต่างๆของ CUBEBIO ซึ่งสอดคล้องกับความคาดหวังและความต้องการของลูกค้า
                                                </div>

                                                <div class="con_box">
                                                    <!-- 인증서 -->
                                                    <div class="con_txt" style="padding-bottom:40px; float:left;">
                                                        <p class="st">ใบรับรอง</p>
                                                        <div class="certification">
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171361416_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171212916_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171332916_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- 인증서// -->

                                                    <!-- 특허 -->
                                                    <div class="con_txt">
                                                        <p class="st">สิทธิบัตร</p>
                                                        <div class="patent">
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171442916_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171522916_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017103016_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171303016_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171133516_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171233516_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171333516_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171443516_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171113616_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172394113_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172484113_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172564113_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172104213_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172214213_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172314213_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172571816_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017281916_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20172161916_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017361910_editor_image.jpg">
                                                                </li>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20173331910_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017312010_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20173102010_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20173202010_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017431289_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017415299_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017425299_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017721511_editor_image.jpg">
                                                                </li>

                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017732511_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                            <ul>
                                                                <li>
                                                                    <img src="http://admin.acus.kr/secure_zone/upFile/cubebio/editor/2017758511_editor_image.jpg">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- 특허// -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!-- /////////////////////////// footer /////////////////////////// -->
                <div id="footer" style="background-color:#252525;clear:both;position: absolute;bottom: -2500px;">
                    <div class="footer">
                        <h1></h1>
                        <div id="footer_area">
                            <!--footer-->
                            <p style="text-align:center; font-family:arial; color:#a8a8a8; line-height:20px; font-size:13px;">Copyright (C) 2016 CUBEBIO. All Rights Reserved<br>
                                <!--<a href="http://acus.co.kr/" target="_blank" style="color:#a8a8a8; text-decoration:none;">
                                    Designed &amp; Programmed by CONSULTINSIDE Co., Ltd.&nbsp;
                                </a>-->
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /////////////////////////// footer /////////////////////////// -->
            </div>
            
            <script type="text/javascript">initMoving(document.getElementById("sideQuick"), 80, 10, 0);</script>
            <script type="text/javascript">
                $(function() {
                    // glvision 사이드 퀵메뉴 위치
                    if (location.href.indexOf("glvision") >= 0) {
                        $('#sideQuick').attr("style","position:absolute; width:50px; overflow:hidden; z-index:2147483647; right:100px;");
                        initMoving(document.getElementById("sideQuick"), 750, 10, 0);
                    }
                });
            </script>
            
            <map name="ImageMapxxx">
                <area shape="rect" coords="147, 12, 230, 25" href="javascript:pops1(100,100,700,490,&#39;/clients/content/acus_service.php?bs=1&#39;);">
                <area shape="rect" coords="235, 10, 323, 28" href="javascript:pops1(100,100,700,490,&#39;/clients/content/acus_service.php?bs=2&#39;);">
            </map>
        </div>
        
        <script src="../assets/js/jquery-cookie.js"></script>
    </body>
</html>