*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: ;
    overflow-x: hidden;
    overflow-y: auto;
}
canvas{
    background-color: #eee;
    position: absolute;
    top: 0;
}