.promo-list>li {
}
.promo-list>li>a {
    color: cornflowerblue;
}

.color-gradient {
    background: -webkit-linear-gradient(#034999, #FF89C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}