<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>FPS-Game-Template</title>
    <link rel="stylesheet" href="../assets/css/main_menu.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/hover.min.css">
  </head>
  <body>
      
      <div class="main-bg"></div>
    
    
      
      
      <div class="container-fluid">
          <div class="row">
            <div class="col-6 offset-1 mt-5">
                <h1 class="text-white">Credit</h1>
              </div>
          </div>
          <div class="row">
            <div class="col-6">asfasdf</div>
            <div class="col-6">
              <img class="img-fluid" src="../assets/img/credit/end_credit.jpg">
              </div>
              
          </div>
          <div class="row">
            <div class="col-4 offset-1 mt-5">
                <div class="col-12">
                    <a class="hvr-forward btn text-black align-left" href="../index.html"><h1>Back</h1></a>
                </div>
            </div>
          </div>
      </div>
      <audio class="hidden-xs" src="../assets/sound/end_credit.mp3" autoplay loop></audio>
  </body>
</html>