body {
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: black;
}

.main-bg {
    position: fixed;
    width: 120%;
    height: auto;
    display: block;
    filter: brightness(.5);
}

.footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}