@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css"); 
@font-face {font-family:'NanumGothic'; src: url('fonts/NanumGothic.eot');}  
@font-face {font-family:'MalgunGothic'; src:url('fonts/MalgunGothic.eot');}
@font-face {font-family:'IC나무굴림R'; src:url('fonts/IC나무굴림R.ttf');}

@font-face {font-family:'Noto Sans SC'; src: url('fonts/NotoSansCJKsc-Black.otf');}  
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Bold.otf');}
@font-face {font-family:'Noto Sans SC'; src: url('fonts/NotoSansCJKsc-DemiLight.otf');}  
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Light.otf');}
@font-face {font-family:'Noto Sans SC'; src: url('fonts/NotoSansCJKsc-Medium.otf');}  
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Regular.otf');}
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Thin.otf');}

@font-face {
		font-family: 'NanumBarunGothic';
		src: url('fonts/NanumBarunGothic.eot');
		src: local(※), url('fonts/NanumBarunGothic.woff') format('woff');
	}
@import(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

/* default */
*{margin:0; padding:0;/* font-family: Dotum, Sans-serif;*/} 
ul,ol,dl {list-style:none;}
img {border:0; vertical-align:middle;}
input,select{vertical-align:middle;}
table{}

input {color:#636363;padding:2px 5px;}
select {font-size:12px;color:#636363;padding:2px 1px;}
input[type='text'],input[type='password']{height:18px; font-size:11px;}
textarea {font-size:12px;color:#777;padding:5px;}
.makeContent0 div img{width:100%;}

/* 하이퍼링크 */
a,a:link, a:visited, a:active,a:hover, a:active, a:focus{text-decoration:none; cursor:pointer;}

body{}



/* 팝업 css 추가 */

