#leftBox{ display:none;}
#fregister_img{
    width: 100%;
}
.mbskin{
    margin-top: 30px;
	margin-bottom: 515px;
    float: left;
    width: 100% !important;
	padding-left: 0px !important;
}
.right_content {
    float: right;
    width: 100%;
    margin: 0px !important;
    background: none;
}
.regi_img1{margin: 0 auto;width: 100px;}
.regi_img2{ width: 100%; border-top: 2px solid #282828; margin-top:50px;}
.regi_img2 div{width: 500px; margin: 50px auto;}
.fregister_agree{
	width: 1138px; background-color: #f4f4f4; line-height: 80px; border:1px solid #e0e0e0; border-top:0; padding:0 30px;
	font-family:noto sans KR;
}
.fregister_agree label{float: right; /*margin-right: 75px;*/}
.fregister_agree input{ float: right; margin-right: 10px; margin-top: 35px;}
#footer {
    width: 139% !important;
    height: 145px;
    background: black;
    margin-top: 220px !important;
    margin-left: -232px !important;
}