#con{
			padding:60px 40px 100px 40px; width:890px; float:left;/*height:1200px;*/
		}
		#con .tit{
			font-family: NanumBarunGothic;
			font-size: 23px;
			text-transform: uppercase;
			color: #000;
			font-weight:400;
			margin:0;
			text-align:left;
		}

		#con .tit_s{
			font-family: Arial;
			font-size: 12px;
			text-transform: uppercase;
			color: #cecece;
			margin-left:10px;
		}

		#con .h1{
			font-family: NanumBarunGothic;
			font-size: 18px;
			text-transform: uppercase;
			color: #000;
			font-weight:normal;
			line-height:28px;
			margin-top:60px;
			text-align:left;
		}

		#con .con_box{margin-top:40px;}

		#con .con_txt{
			font-family: NanumBarunGothic;
			font-size: 14px;
			color: #000;
			text-align:justify;
		}

		#con .con_txt .st{/* 작은제목*/
			font-size: 16px;
			color: #0e427c;
			font-weight:400px;
			margin:0;
			float:left;
			background:url(http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171264910_editor_image.jpg) no-repeat left;
			padding-left:20px;
		}
		
		/* 인증서 */
		.con_txt .certification ul{
			padding:0; margin:0;
			float:left; list-style:none;
			margin-left:20px;
		}
		.con_txt .certification ul li{float:left; margin-top:10px; margin-right:51px;}
		.con_txt .certification ul li:nth-child(3){margin-right:0;}
		/* 인증서// */

		/* 특허 */
		.con_txt .patent ul{
			padding:0; margin:0;
			float:left; list-style:none;
			margin-left:20px;
			margin-bottom:25px;
		}
		.con_txt .patent ul li{float:left; margin-top:10px; margin-right:35px;}
		.con_txt .patent ul li:nth-child(4){margin-right:0;}
		/* 특허// */