#con{
		padding:60px 40px 30px 40px; width:890px;
	}

	#con .tit{
		font-family: NanumBarunGothic;
		font-size: 23px;
		/*text-transform: uppercase;*/
		color: #000;
		font-weight:400;
		margin:0;
		text-align:left;
	}
	#con .tit_s{
		font-family: Arial;
		font-size: 12px;
		text-transform: uppercase;
		color: #cecece;
		margin-left:10px;
		vertical-align: bottom;
	}
	
	#con .h1{
		font-family: NanumBarunGothic;
		font-size: 14px;
		/*text-transform: uppercase;*/
		color: #000;
		font-weight:normal;
		line-height:27px;
		margin-top:35px;
		text-align:left;

	}
	#con .h1 p{font-size:18px; margin:0 0 10px !important; color:#5674b9;}
	
	/* 버튼 */
	#con .con_box{float:left; position:absolute; margin-top:-140px; margin-left:490px;}
	#con .con_box ul{padding:0; margin:0;}
	#con .con_box ul li{float:left; margin-right:20px;}
	/* 버튼// */
	table {border-spacing:0px;}
	table th {background:#e8eefa; color:#5674ba; line-height:58px; border-right:1px solid #acc8ed; border-bottom:1px solid #acc8ed; font-weight:normal; text-align:left; padding-left:15px;}
	table td {padding: 0 10px; border-bottom:1px solid #ebebeb;}
	table td input{width:250px; height:30px !important;}