#con{
		padding:60px 40px 100px 40px; width:890px; float:left; font-family:'nanumbarungothic';
	}
	#con .tit{
		font-family: NanumBarunGothic;
		font-size: 23px;
		text-transform: uppercase;
		color: #000;
		font-weight:400;
		margin:0;
		text-align:left;
	}
	#con .tit_s{
		font-family: Arial;
		font-size: 12px;
		text-transform: uppercase;
		color: #cecece;
		margin-left:10px;
	}

	#con .con_box{margin-top:30px;}
	#con .con_txt{
		font-family: NanumBarunGothic;
		font-size: 14px;
		color: #000;
		line-height:27px;
		text-align:justify;
		font-weight:400;
	}

	#con .con_txt span{font-size:19px;}

	/* 사이트맵 */
	.con_txt .menu_box{float:left; margin-right:60px;}
	.con_txt .menu_box ul{
		padding:0; margin:0; width:130px; list-style:none;
	}
	.con_txt .menu_box ul .smt{
		font-size:18px; font-weight:400;
		border-bottom:2px solid #5674b9;
		padding:0 0 3px  10px;
		margin-bottom:13px;
		color:#5674b9;
		width:130px;
	}
	.con_txt .menu_box li{line-height:30px; width:150px;}
	.con_txt .menu_box li a{
		padding-left:10px; font-size:14px; font-weight:400;
		color:#000; text-decoration:none;
	}
	.con_txt .menu_box li a:hover{text-decoration:underline; color:#5674b9;}