#con{
		padding:60px 40px 100px 40px; width:890px;
        background:url('../img/greeting/20172295210_editor_image.jpg');
	}
	#con .tit{
		font-family: 'kanit', sans-serif;
		font-size: 36px;
		/*text-transform: uppercase;*/
		color: #000;
		font-weight:400;
		margin:0;
		text-align:left;
	}

	#con .h1{
		font-family: 'kanit', sans-serif;
		font-size: 23px;
		text-transform: uppercase;
		color: #000;
		font-weight:normal;
		line-height:40px;
		margin-top:60px;
		text-align:left;
	}

	#con .h1 span{color:#5674b9;}

	#con .con_box{margin-top:30px;}
	#con .con_txt{
		font-family: sans-serif;
		font-size: 14px;
		color: #000;
		line-height:27px;
		text-align:justify;
		font-weight:400;
	}

	#con .con_txt span{font-size:19px;}