#con{
		padding:60px 40px 100px 40px; width:890px;
	}

	#con .tit{
		font-family: NanumBarunGothic;
		font-size: 23px;
		text-transform: uppercase;
		color: #000;
		font-weight:400;
		margin:0;
		text-align:left;
	}
	#con .tit_s{
		font-family: Arial;
		font-size: 12px;
		text-transform: uppercase;
		color: #cecece;
		margin-left:10px;
	}
	
	#con .h1{
		font-family: NanumBarunGothic;
		font-size: 14px;
		/*text-transform: uppercase;*/
		color: #000;
		font-weight:normal;
		line-height:27px;
		margin-top:60px;
		text-align:left;
	}
	#con .h1 p{font-size:18px;}

	#con .h1 span{color:#5674b9;}
	
	/* 버튼 */
	#con .con_box{float:left; position:absolute; margin-top:-230px; margin-left:490px;}
	#con .con_box ul{padding:0; margin:0;}
	#con .con_box ul li{float:left; margin-right:20px; position:absolute;}
	/* 버튼// */
	.h1 p {margin:18px 0 !important;}