#con{
		padding:60px 40px 100px 40px; width:890px;
	}

	#con .tit{
		font-family: NanumBarunGothic;
		font-size: 23px;
		/*text-transform: uppercase;*/
		color: #000;
		font-weight:400;
		margin:0;
		text-align:left;
	}
	#con .tit_s{
		font-family: Arial;
		font-size: 12px;
		text-transform: uppercase;
		color: #cecece;
		margin-left:10px;
	}

	#con .con_box{margin:30px 0; margin-top:60px;}
	
	#con .con_box .cont{float:left; padding-bottom:40px;}

	#con .con_box .lab_img{display:inline; width:260px; float:left;}/*이미지*/

	#con .con_txt{
		font-family: NanumBarunGothic;
		font-size: 14px;
		color: #000;
		text-align:justify;
		display:inline;
		margin-left:30px;
		float:left; width:600px;
	}

	#con .con_txt .st{/*작은타이틀*/
		font-size: 16px;
		color: #0e427c;
		font-weight:400;
		background:url(http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171264910_editor_image.jpg) no-repeat left;
		padding-left:20px;
		margin-bottom:10px;
		margin-top:0;
	}

	#con .con_txt .text{
		margin-top:15px; padding-left:20px;
		font-size:14px; line-height:27px;
		font-weight:400;
	}