#con{
    padding:60px 40px 100px 40px; width:890px; float:left;
    background:url(../img/division/20171383313_editor_image.jpg) no-repeat;
}
#con .tit{
                                        font-family: NanumBarunGothic;
                                        font-size: 23px;
                                        /*text-transform: uppercase;*/
                                        color: #000;
                                        font-weight:400;
                                        margin:0;
                                        text-align:left;
                                    }
                                    #con .tit_s{
                                        font-family: Arial;
                                        font-size: 12px;
                                        text-transform: uppercase;
                                        color: #cecece;
                                        margin-left:10px;
                                    }

                                    #con .con_box{margin:30px 0;}

                                    #con .con_box .cont{float:left; padding-bottom:40px;}

                                    #con .con_box .lab_img{display:inline; width:260px; float:left;}/*이미지*/

                                    #con .con_txt1{
                                        font-family: NanumBarunGothic;
                                        font-size: 14px;
                                        color: #000;
                                        text-align:justify;
                                        margin-left:360px;
                                        float:left; width:600px;
                                        margin-top:10px;
                                    }

                                    #con .con_txt1 .st{/*작은타이틀*/
                                        font-size: 16px;
                                        color: #0e427c;
                                        font-weight:400px;
                                        margin-bottom:10px;
                                    }

                                    #con .con_txt1 .text{
                                        margin-top:15px;
                                        font-size:14px; line-height:27px;
                                        font-weight:400;
                                    }

                                    /**/
                                    #con .con_txt2{
                                        font-family: NanumBarunGothic;
                                        font-size: 14px;
                                        color: #000;
                                        text-align:justify;
                                        margin-left:20px;
                                        float:left; width:600px;
                                        margin-top:30px;
                                    }

                                    #con .con_txt2 .text{
                                        margin-top:15px;
                                        font-size:14px; line-height:27px;
                                        font-weight:400;
                                    }