#con{
		padding:60px 40px 150px 40px; width:890px; float:left;					background:url('http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171544717_editor_image.jpg');
	}
	#con .h1{
		font-family: NanumBarunGothic;
		text-transform: uppercase;
		color: #000;
		font-weight:normal;
		line-height:40px;
		margin-top:100px;
		margin-left:460px;
		text-align:left;
	}
	#con .h1 p:nth-child(1){font-size:30px; margin:0; color:#5674b9;}
	#con .h1 p:nth-child(2){font-size:16px; line-height:27px; margin-top:10px; text-align:left;}
