#con{padding:60px 40px 100px 40px;  width:890px; float:left;}
	
	#con .tit{
		font-family: NanumBarunGothic;
		font-size: 23px;
		text-transform: uppercase;
		color: #000;
		font-weight:400;
		margin:0;
		text-align:left;
	}
	#con .tit_s{
		font-family: Arial;
		font-size: 12px;
		text-transform: uppercase;
		color: #cecece;
		margin-left:10px;
	}

	#con .h1{
		font-family: NanumBarunGothic;
		font-size: 23px;
		text-transform: uppercase;
		color: #000;
		font-weight:normal;
		line-height:28px;
		margin-top:60px;
		text-align:left
	}

	#con .con_box{margin-top:30px;}
	
	 /* 본사 */
	#con .con_txt{
		font-family: NanumBarunGothic;
		font-size: 14px;
		color: #000;
		line-height:22px;
		text-align:justify;
		margin-top:30px;
		float:left;
		width:445px;
	}
	#con .con_txt:nth-child(4){margin-bottom:60px;}

	#con .con_txt .st{
		font-size: 16px;
		color: #000;
		font-weight:bold;
		background:url(http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171264910_editor_image.jpg) no-repeat left;
		padding-left:20px;
	}
	#con .con_txt p{margin:0;}
	#con .con_txt p:nth-child(2){padding-left:20px; margin-top:5px;}
	/* 본사// */

    /* 강남사옥 */
	#con .con_txt2{
		font-family: NanumBarunGothic;
		font-size: 14px;
		color: #000;
		line-height:22px;
		text-align:justify;
		margin-top:30px;
		float:left;
		width:800px;
	}

	#con .con_txt2 .st{
		font-size: 16px;
		color: #000;
		font-weight:bold;
		background:url(http://admin.acus.kr/secure_zone/upFile/cubebio/editor/20171264910_editor_image.jpg) no-repeat left;
		padding-left:20px;
	}
	/* 강남사옥// */