/*@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("http://fonts.googleapis.com/earlyaccess/notosanssc.css");
 ------------------------------------------------------------
 * Name     : layout.css
 * Desc     : type E
 * Created  : 2015-08-13 ACUS by NaKyoung
 * Updated  :
 ------------------------------------------------------------ 
@font-face{font-family:'NotoSanskr'; src:url('/fonts/NotoSansCJKkr-Black.otf')}
@font-face{font-family:'NotoSans'; src:url('/fonts/NotoSans-Regular.ttf')}
@font-face {font-family:'NanumGothic'; src: url('fonts/NanumGothic.eot');}  
@font-face {font-family:'MalgunGothic'; src:url('fonts/MalgunGothic.eot');}
@font-face {font-family:'NanumBarunGothic'; src: url('fonts/NanumBarunGothic.eot');}  
@font-face {font-family:'NanumBarunGothic'; src:url('fonts/NanumBarunGothic.eot');}
@font-face {font-family:'IC나무굴림R'; src:url('fonts/IC나무굴림R.ttf');}

@font-face {font-family:'Noto Sans SC'; src: url('fonts/NotoSansCJKsc-Black.otf');}  
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Bold.otf');}
@font-face {font-family:'Noto Sans SC'; src: url('fonts/NotoSansCJKsc-DemiLight.otf');}  
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Light.otf');}
@font-face {font-family:'Noto Sans SC'; src: url('fonts/NotoSansCJKsc-Medium.otf');}  
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Regular.otf');}
@font-face {font-family:'Noto Sans SC'; src:url('fonts/NotoSansCJKsc-Thin.otf');}*/

@import url('https://fonts.googleapis.com/css?family=Kanit:200,500');

h1,h2,h3,h4,h5,h6 { font-family: 'kanit', sans-serif;}

/* header */
#header{width:100%; height:120px; position:relative;}
.header{width:1200px; margin:0 auto;height:88px}
.header .logo{float:left; height:88px; display:table;}
.header .logo div{height:100%; display:table-cell; vertical-align:middle;}
.header #gnb_menu{float:right; margin-top:41px; text-align:center}
/*
.header #gnb_menu li{float:left; margin:0 30px; font-weight:bold; font-size:18px;}
*/
.header #gnb_menu li{float:left; margin:0 0; font-weight:bold; font-size:18px;}
.header_top{width:100%; height:31px;}

.top_gnb{float:right;}
.top_gnb li{float:left; margin:0 3px; font-size:12px;}

/*
.gnb_ab{width:100%; height:200px; position:absolute; top:120px; background:#fff;}
*/
.gnb_ab{width:100%; position:absolute; top:120px; background:#fff;}
#gnb_menu_sub{width:1200px; margin:0 auto; }
#gnb_menu_sub>ul{float:right; width:130px;}
#gnb_menu_sub li{margin:0 0 13px 0; width:130px; font-size:14px; text-align:center;}

/* banner */
#banner{display:block; width:100%; background:black; position:relative; overflow:hidden; background-size:cover;}
.banner{display:block; position:relative; margin:auto;}
.banner ul.banner_img li .banner01{width:100%; top:0px;}
.banner ul.direction li{position:absolute; top:230px;}
.banner ul.direction li.left_move{left:0;}
.banner ul.direction li.right_move{right:0;}

/* content */
#content{width:100%; min-height:180px;}
.content{width:1200px; margin:1px auto; height:100%; }

/* main */
.con_top{height:218px;}
.con_top ul{float:left;width:398px; height:218px;border:1px solid #d2d2d2; border-top:none;}
.con_top ul li:first-child{float:left;width:147px; height:145px; padding:20px 36px 0 24px;}
.con_top ul li img{float:left; padding:17px 0 15px 0;}
.con_top ul li.short{clear:both; width:330px; margin:0 auto; text-align:center; padding:10px 0;}
.con_top ul li h2{font-size:20px; padding-bottom:14px; font-weight: normal;}
.con_top ul li p{font-size:13px; color:#9b9b9b;}
.con_top ul li a{padding:10px 35%; color:#676767; border: 1px solid #d3d3d3;}
.con_mid{float:left; width:918px; height:479px; border:1px solid #d2d2d2; border-top:none;border-bottom:none;}
.con_mid ul{float:left; width:305px; height:239px; text-align:center; border-bottom:1px solid #d2d2d2;}
.con_mid ul.bg_black{color:#fff; background:url('../images/btn_blackbg.gif') no-repeat 0 0;}
.con_mid ul li:first-child{padding:45px 0 9px 0;}
.con_mid ul li.txt{width:214px; margin:0 auto; height:58px; font-size:13px; padding:9px 0 24px 0; overflow:hidden; text-overflow:ellipsis;}
.con_mid ul.bg_black li:last-child{width:214px; margin:0 auto; padding:12px 0; border:1px solid #5b5b5b; background:url('../images/btn_go.gif') no-repeat 0 0;}
.con_mid ul li.mid_bot{width:214px; margin:0 auto; padding:12px 0; border:1px solid #5b5b5b;}
.con_mid ul.bg_black li a{color:#fff;}
.con_mid ul li a{padding:12px 31%; color:#242424;}
.con_mid ul.service{border:1px solid #d2d2d2; border-top:none;}
.con_mid ul.event{width:306px; height:219px; padding-top:20px; background:url('../images/btn_menubg.gif') no-repeat 0 0;}
.con_mid ul.event li, .con_mid ul.csr li{width:169px; margin:0 auto; color:#fff;}
.con_mid ul.academy{width:306px;}
.con_mid ul.event li.akwl , .con_mid ul.csr li.akwl{padding:6px 0 0 0; overflow:hidden; text-overflow:ellipsis;}
.con_mid ul.csr{height:219px; padding-top:20px;background:url('../images/btn_menubg2.gif') no-repeat 0 0;}
.con_mid ul.media{border:1px solid #d2d2d2; border-top:none; border-bottom:none;}

/*
.top_gnb{position:absolute; right:0;}
*/
.top_gnb{}
.top_gnb li{float:left; margin:10px 0 0 15px; font-size:12px;}
/* right_content */
.right_content{float:right;width:80%; margin:0 0 0 20px; background:none;}
.right_content .nav{text-align:right; font-size:11px; padding:5px 0; border-bottom:1px solid #ddd; color:#9e9e9e;}

/* publicity */
#publicity{border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;}
.publicity{width:1200px; height:26px; margin:0 auto; padding:18px 0 0 20px;}
.publicity p{font-size:20px;}
.mv{width:1200px; margin:0 auto; padding:19px 0; border:1px solid #d2d2d2; border-top:none; text-align:center;}

/* footer_menu */

/*
#footer_menu{clear:both; width:100%; height:260px; background:#262626;}
.footer_menu{width:1200px;  height:228px; margin:0 auto; padding-top:32px;}
*/
#footer_menu{clear:both; width:100%; height:100%; min-height:310px; background:#262626;}
.footer_menu{width:1200px; min-height:228px;  margin:0 auto; padding-top:32px;}
.footer_menu ul{float:left; width:171px; text-align:center;}
/*
.footer_menu ul li:first-child{padding:8px 0 13px 0; font-size:15px; color:#fff; background:url('../images/menu_line.gif') no-repeat center top;}
*/
.footer_menu ul li:first-child{padding:8px 0 13px 0; font-size:15px;  background:url('../images/menu_line.gif') no-repeat center top;}
.footer_menu ul li{padding-bottom:7px;}

/*
.footer_menu ul li a{color:#fff; font-size:13px;}
*/
.footer_menu ul li a{font-size:13px;}
/* footer */
#footer{width:100%; height:145px; background:black;}
.footer{width:1200px; height:82px; margin:0 auto; padding-top:38px;}
.footer h1{float:left; padding-right:88px;}
.footer ul li{color:#fff; font-size:14px;padding-bottom:6px;}
/*
.footer div{padding-top:10px;}
*/
/*
.footer div a{padding-right:30px; font-size:12px;}
*/
.footer div a{padding-right:0px; font-size:12px;}
/* leftBox */
#leftBox{position:relative; width:55px; float:left; height:100%; }
#leftBox h1{min-width:210px;  min-height:60px; line-height:80px; color:#fff; font-size:20px;}
#leftBox ul li a{color: darkgray;}
#leftBox ul li.active{background:#fff;}


/*#leftBox ul>li>ul>li{width:182px; height:34px; margin-left:auto; }
#leftBox ul>li>ul>li:last-child{padding-bottom:0;}
#leftBox ul.sidemenu li.active a{color:#000;}*/

#leftBox ul.sidemenu>li{min-height:21px; cursor:pointer; font-size:10pt;  font-weight: bold; width:210px; height:40px; border-bottom: 1px solid #ececec; padding-left: 20px; padding-top: 15px;}
#leftBox ul.sidemenu li a{ padding-top:10px; }

#leftBox ul.sidemenu_v2 li{height:36px; padding:0 0 0 18px;}

ul{
　　	overflow: auto;
		list-style-type: none;
}
li{
	float: left;
	display: inline;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 0%;
    gin-left: -8px !important;
    top: 12px;
    margin-top: -8px !important;
}
.sidemenu{ width:350px}

