@import url('https://fonts.googleapis.com/css?family=Kanit:200,500');

* {
    font-family: 'Kanit', sans-serif;
}

.border-radius-0 {
    border-radius: 0;
}
.bg-white {
    background-color: white;
}
.img-resp {
    width: 100%;
    height: auto;
}
.bg-full-1 {
    background-image: url(../img/01/bg-full-1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
