@import url('https://fonts.googleapis.com/css?family=Kanit:200,500');

* {
    font-family: 'Kanit', sans-serif;
}

.border-radius-0 {
    border-radius: 0;
}
.bg-white {
    background-color: white;
}
.img-resp {
    width: 100%;
    height: auto;
}

@media (min-width: 1px) {
    .bg-full-1 {
        background-image: url(../img/01/bg-full-1.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media (min-width: 1px) {
    .footer {
        position: fixed;
        bottom: -428px;
        left: 0;
        width: 100%;
        transition: all .5s;
    }
}
@media (min-width: 1110px) {
    .footer {
        position: fixed;
        bottom: -405px;
        left: 0;
        width: 100%;
        transition: all .5s;
    }
}


.footer.open {
    bottom: 0;
}

.bottom-btn {
    width: 300px;
    display: block;
    margin: auto;
    cursor: pointer;
}

.form-content {
    width: 100%;
    padding: 20px;
}

.bg-white {
    background: white;
}
