@media(min-width:1px) {
    .doctor-card {
        height: 365px;
        overflow-y: scroll;
    }
}
@media(min-width:1024px) {
    .doctor-card {
        height: 490px;
        overflow-y: scroll;
    }
}