@media(min-width: 1px) {
    .left-overlay {
        width: 0%;
        height: 100%;
        background-color: white;
        transition: all ease-out .3s;
        position: fixed;
        z-index: 999999;
        display: none;
    }
        
    .left-overlay.show {
        width: 100%;
        display: block;
    }
}

@media(min-width: 1024px) {
    .left-overlay {
        width: 200px;
        height: 100%;
        background-color: white;
        transition: all ease-out .3s;
        position: fixed;
        z-index: 999999;
        display: block;
        
    }
        
    .left-overlay.show {
        width: 100%;
    }
}


.bg-blackpurple {
    background: rgb(6,0,64);
    background: linear-gradient(0deg, rgba(6,0,64,1) 0%, rgba(39,0,60,1) 100%);
}

.active {
    background: rgba(193,127,255,1);
    background: -moz-linear-gradient(-45deg, rgba(193,127,255,1) 0%, rgba(152,255,252,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(193,127,255,1)), color-stop(100%, rgba(152,255,252,1)));
    background: -webkit-linear-gradient(-45deg, rgba(193,127,255,1) 0%, rgba(152,255,252,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(193,127,255,1) 0%, rgba(152,255,252,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(193,127,255,1) 0%, rgba(152,255,252,1) 100%);
    background: linear-gradient(135deg, rgba(193,127,255,1) 0%, rgba(152,255,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c17fff', endColorstr='#98fffc', GradientType=1 );
    
}
.active>a {
    color: #fff;
}

.left-overlay>div>a {
    color: #fff;
    text-align: left;
}

.left-overlay>div:hover {
    background: #fff;
    text-align: left;
    color: #000;
}
.left-overlay>div:hover a {
    color: #000;
}