@media(min-width: 1px) {
    .bg-map {
        background-image: url();
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .bg-doctor {
        background-image: url(../assets/img/doctor/header_img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
        }

    .bg-login {
        background-image: url(../assets/img/login/bg-login.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-forgotpassword {
        background-image: url(../assets/img/doctor/header_img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-testimonial {
        background-image: url();
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #f9cac3;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }

    .bg-before-after {
        background-image: url(/assets/img/home/bg-befor-after.jpg);
        background-size: cover;
        background-position: right top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    
    .bg-doctor01 {
        background-image: url(../assets/img/doctor/bg-01-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor02 {
        background-image: url(../assets/img/doctor/bg-02-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor03 {
        background-image: url(../assets/img/doctor/bg-03-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor04 {
        background-image: url(../assets/img/doctor/bg-04-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor05 {
        background-image: url(../assets/img/doctor/bg-05-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor06 {
        background-image: url(../assets/img/doctor/bg-06-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor07 {
        background-image: url(../assets/img/doctor/bg-07-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor08 {
        background-image: url(../assets/img/doctor/bg-08-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
    .bg-doctor09 {
        background-image: url(../assets/img/doctor/bg-09-pc.jpg);
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
}







@media(min-width:768px) {
    .bg-map {
        background-image: url();
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .bg-doctor {
        background-image: url(../assets/img/doctor/header_img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-login {
        background-image: url(../assets/img/login/bg-login.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-forgotpassword {
        background-image: url(../assets/img/doctor/header_img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-testimonial {
        background-image: url(/assets/img/home/bg-testimonial-768.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }

    .bg-before-after {
        background-image: url(/assets/img/home/bg-befor-after.jpg);
        background-size: cover;
        background-position: right top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
}

@media(min-width:1200px) {
    .bg-map {
        background-image: url();
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .bg-doctor {
        background-image: url(../assets/img/doctor/header_img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-login {
        background-image: url(../assets/img/login/bg-login.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-forgotpassword {
        background-image: url(../assets/img/doctor/header_img.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
    }

    .bg-testimonial {
        background-image: url(/assets/img/home/bg-testimonial.jpg);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }

    .bg-before-after {
        background-image: url(/assets/img/home/bg-befor-after.jpg);
        background-size: cover;
        background-position: right top;
        background-repeat: no-repeat;
        /*filter: brightness(1.1);
        -moz-filter: brightness(1.1);
        -webkit-filter: brightness(1.1);*/
    }
}





