.preload-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #001329;
    z-index: 9999;
    
    transition: all 1s;
}

.preload-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.preload-text {
    color: white;
    font-weight: 100;
}

.loaded {
    width: 0;
}

.about-img, .about-text, .black-bg, #skills {
    visibility: hidden;
}

.show {
    visibility: visible;
}