*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}
canvas{
    background-color: #fff;
    position: absolute;
}